
*.ide
*.ide
WindowsFormsApp2/.vs/WindowsFormsApp2/v16/Server/sqlite3/storage.ide
WindowsFormsApp2/.vs/WindowsFormsApp2/v16/Server/sqlite3/storage.ide-shm
WindowsFormsApp2/.vs/WindowsFormsApp2/v16/Server/sqlite3/storage.ide-wal
